<h1>Client</h1>
<p>Name: <%= @client.full_name %></p>
<p>Age: <%= @client.age %></p>
<p>Notes: <%= @client.notes %></p>

<h3>Course(s): </h3>

<ul>
  <% @client.courses.each do |course| %>
  <li><%= course.name %></li>
  <% end %>
</ul>

<form action="/clients/<%= @client.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Client">
</form>
